select{
    width: 30%;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    box-shadow: 0 06px 06px #4b84c5;
   
}
.dash-banner-weather{
    height:100vh;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/weather-prediction/weather-prediction.jpg);
	background-size:cover;
	background-position:center;
	color:white;
}
label{
    font-style: normal; 
    font-family: sans-serif;
}
input{
    width: 140px;
    height: 40px;
}
.form-section{
    margin-top: 120px;
}
.image{
    height: 20px;
    width: 20px;
    margin-top: 80px;
    margin-right: 100px;
}
.image1{
    height: 20px;
    width: 20px;
    margin-top: 80px;
    margin-right: 500px;
}
.image2{
    height: 20px;
    width: 20px;
    margin-top: -35px;
    margin-right: -100px;
}
.data{
    display: none;
}